<!-- Preloader Start -->
  <!--<div id="preloader">
    <div class="loader3">
        <span></span>
        <span></span>
    </div>
</div>-->
<!-- Preloader End -->

<!-- start header -->
<header class="d-flex align-items-center sticky-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-8 text-left">
                <!--logo start-->
                <a href="index.html">
                    <img src="./assets/img/logo.svg" class="img-fluid" alt="">
                </a>
                <!--logo end-->
            </div>
            <div class="col-md-9 col-4">
                <!--menu start-->
                <ul id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">{{ 'Offers' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">{{ 'Plans' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">{{ 'About us' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">{{ 'Contact' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link button outline">{{ 'Login' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link button">{{ 'Sign up' | translate }}</a>
                    </li>
                </ul>
                <!--menu end-->

                <!-- menu toggler -->
                <div class="hamburger-menu">
                    <span class="line-top"></span>
                    <span class="line-center"></span>
                    <span class="line-bottom"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
