<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-3 text-center text-md-left">
              <a href="index.html">
                  <img src="./assets/img/logo.svg" class="img-fluid" alt="">
              </a>
          </div>
          <div class="col-md-3 col-sm-4">
              <h4>{{ 'Navigation' | translate }}</h4>
              <ul>
                  <li><a href="#">{{ 'Offers' | translate }}</a></li>
                  <li><a href="#">{{ 'Plans' | translate }}</a></li>
                  <li><a href="#">{{ 'About us' | translate }}</a></li>
                  <li><a href="#">{{ 'Contact' | translate }}</a></li>
              </ul>
          </div>
          <div class="col-md-3 col-sm-4">
              <h4>{{ 'Account' | translate }}</h4>
              <ul>
                  <li><a href="#">{{ 'Login' | translate }} / {{ 'Sign up' | translate }}</a></li>
                  <li><a href="#">{{ 'My account' | translate }}</a></li>
                  <li><a href="#">{{ 'My favourites' | translate }}</a></li>
                  <li><a href="#">{{ 'Account settings' | translate }}</a></li>
              </ul>
          </div>
          <div class="col-md-3 col-sm-4">
              <h4>{{ 'Informations' | translate }}</h4>
              <ul>
                  <li><a href="#">{{ 'FAQ' | translate }}</a></li>
                  <li><a href="#">{{ 'Terms of service' | translate }}</a></li>
                  <li><a href="#">{{ 'Policy privacy' | translate }}</a></li>
                  <li><a href="#">{{ 'Cookies policy' | translate }}</a></li>
              </ul>
          </div>
          <div class="col-12 text-center mt_25">
              <p>&copy; {{ 'Copyrights ServiceName 2022' | translate }}</p>
          </div>
      </div>
  </div>
</footer>
<!--====== BACK TO TOP START ======-->
<a href="#" class="back-to-top"><i class="fal fa-angle-up"></i></a>
<!--====== BACK TO TOP ENDS ======-->
