/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');
/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	color: #424242;
}
a,
button{
	transition: 0.3s;
}
ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus{
	outline: none;
}

/* page loader  */
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loader3 {
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0px;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #f33737;
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  	0% {
    	transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	transform: scale(1, 1);
    	opacity: 0;
  	}
}

@-webkit-keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	opacity: 0;
  	}
}
/*Hamburger-menu START CSS*/
.hamburger-menu {
	cursor: pointer;
	position: absolute;
	right: 15px;
	display: none;
	z-index: 999;
	top: -15px;
}
.hamburger-menu span {
	background: #FAFAFA;
	width: 30px;
	height: 3px;
	display: block;
	margin: 5px 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hamburger-menu:hover .line-top {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.hamburger-menu:hover .line-bottom {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hamburger-menu .line-top.current {
	-webkit-transform: translateY(200%) rotate(135deg);
	-ms-transform: translateY(200%) rotate(135deg);
	transform: translateY(200%) rotate(135deg);
}
.hamburger-menu .line-center.current {
	opacity: 0;
}
.hamburger-menu .line-bottom.current {
	-webkit-transform: translateY(-325%) rotate(-135deg);
	-ms-transform: translateY(-325%) rotate(-135deg);
	transform: translateY(-325%) rotate(-135deg);
}



header {
	background-color: #212121;
	padding: 12px 0;

}

/*sticky START CSS*/
header.sticky {
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
}

#menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#menu li {
	display: inline-block;
	padding-left: 52px;
}
#menu li:last-child{
	padding-left: 16px;
}
#menu li:nth-last-child(2){
	padding-left: 42px;
}
#menu li a {
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 1px;
	color: #FAFAFA;
}

#menu>li>a:hover {
	color: #FFB84D;
}

#menu>li>a.active {
  color: #FFA826;
}

#menu>li>a.disabled {
  color: #424242;
}

.button,
#menu>li>a.button{
	background-color: #FB8D00;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	padding: 8px 20px;
	color: #212121;
	display: inline-block;
	border: 2px solid #FB8D00;
	text-align: center;
}
.button:hover,
#menu>li>a.button:hover{
	background-color: #F57D00;
  border-color: #F57D00;
}
.button:active,
#menu>li>a.button:active{
	background-color: #EF6D00;
  border-color: #EF6D00;
  color:#212121;
}
.button:disabled,
#menu>li>a.button:disabled{
	background-color: #FFCD80;
  border-color: #FFCD80;
  color:#757575;
}
.button.outline,
#menu>li>a.button.outline{
	background-color: transparent;
	color: #FB8D00;
}
.button.outline:hover,
#menu>li>a.button.outline:hover{
  border-color: #F57D00;
	background-color: transparent;
	color: #F57D00;
}
.button.outline:active,
#menu>li>a.button.outline:active{
  border-color: #EF6D00;
	background-color: transparent;
	color: #EF6D00;
}
.button.outline:disabled,
#menu>li>a.button.outline:disabled{
  border-color: #FFCD80;
	background-color: transparent;
	color: #FFCD80;
}
.filter_box{
	background: #FAFAFA;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
	padding: 0 32px 24px;
}
.filter_box input,
.filter_box .nice-select{
	padding: 0px 16px;
	width: 100%;
	float: none;
	background: #F5F5F5;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	border: none;
	height: 48px;
	font-size: 16px;
	color: #424242;
	line-height: 46px;
	margin-top: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
.filter_box input:hover,
.filter_box .nice-select:hover{
	background: #EEEEEE;
}
.filter_box input::placeholder{
	color: #424242;
	opacity: 1;
}
.nice-select:after {
	border-bottom: 2px solid #424242;
	border-right: 2px solid #424242;
	height: 7px;
	right: 16px;
	width: 7px;
}
.nice-select .list{
	width: 100%;
	margin-top: 0;
}
.input_wrap{
	position: relative;
	margin-top: 16px;
}
.input_wrap input{
	padding-left: 48px;
	padding-right: 70px;
	margin-top: 0;
}
.input_wrap img{
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	position: absolute;
}
.input_wrap span{
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0.5px;
	color: #424242;
	font-family: 'Source Sans Pro', sans-serif;
}
.filter_box h4{
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	margin-top: 28px;
}
.filter_box .button{
	width: 100%;
	max-width: 200px;
	height: 48px;
	font-weight: 600;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
.filter_box .button img{
	margin-right: 12px;
  margin-top: -3px;
}
.filter_box .button.save_search{
	background-color: #424242;
	color: #FAFAFA;
	border-color: #424242;
  width: 100%;
  max-width: 200px;
}
.filter_box .button.save_search img {
  margin-top: -4px;
}
.filter_box .button.save_search:hover{
	background-color: #616161;
  border-color: #616161;
}
.filter_box .button.save_search:active{
	background-color: #757575;
  border-color: #757575;
}
.filter_box .button.save_search:disabled{
	background-color: #BDBDBD;
  border-color: #BDBDBD;
}
.half_gutters{
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.half_gutters>div{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.mt_32{
	margin-top: 38px;
}
.reset{
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 1px;
	color: #F57D00;
	background-color: transparent;
	border: none;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	white-space: nowrap;
	margin-right: 42px;
}
.reset:hover{
	color: #FB8D00;
}
.reset:active{
	color: #FF9800;
}
.reset:disabled{
	color: #FFCD80;
}
.filter_box .more_filter {
	font-weight: 600;
	color: #9E9E9E;
	text-align: center !important;
  width: 200px;

}
.filter_box .more_filter .current{
  margin-left: -16px;
}
.filter_box .nice-select.more_filter:after {
	border-bottom: 2px solid #9E9E9E;
	border-right: 2px solid #9E9E9E;
	right: 40px;
}
.room_box{
	margin-top: 15px;
	display: flex;
	overflow: hidden;
	border-radius: 12px;
	background: #F5F5F5;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  max-height: 272px;
  min-height: 272px;
}

@media (max-width: 767.98px) {
  .room_box{
    max-height: unset;
    min-height: unset;
  }
}
.room_img{
	width: 360px;
	flex-shrink: 0;
	display: block;
}
@media (max-width: 767.98px) {
  .room_img img{
    max-height: 272px;
    min-height: 272px;
  }
}
.room_img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.room_content{
	padding: 24px;
	width: 100%;
}
.room_content h2{
	font-weight: 600;
	font-size: 28px;
	line-height: 121%;
	color: #212121;
}
.room_content p strong{
	font-weight: 600;
	color: #212121;
}
.room_content ul li{
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #212121;
	padding-top: 16px;
}
.room_content ul li img{
	width: 24px;
	flex-shrink: 0;
	margin-right: 12px;
}
.heart{
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;
}
.heart svg{
	width: 32px;
  height: 32px;
}
.heart svg:hover path{
	fill:#424242;
}
.filter_wrap{
	padding-bottom: 9px;
	padding-top: 32px;
}
.filter_wrap h4{
	font-weight: 400;
	font-size: 32px;
	line-height: 125%;
	letter-spacing: 0.25px;
	color: #212121;
}
.filter_wrap h4 span{
	font-weight: 600;
}
.filter_wrap .dropdown-toggle{
	padding: 0px 16px;
	height: 40px;
	background: #F5F5F5;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	color: #424242;
	border: none;
	min-width: 160px;
}
.filter_wrap .dropdown-toggle:hover{
	background: #EEEEEE;
}
.filter_wrap .dropdown-toggle::after{
	display: none;
}
.filter_wrap .dropdown-toggle img{
	margin-right: 10px;
}

footer{
	padding: 16px 0 8px;
	background-color: #212121;
	font-size: 16px;
	line-height: 125%;
	color: #FAFAFA;
	margin-top: 16px;
}
footer h4{
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	color: #FAFAFA;
	padding-bottom: 10px;
}
footer li{
	padding-top: 6px;
}
footer li a{
	color: #FAFAFA;
}
footer li a:hover{
	color: #FB8D00;
}
footer li a:active{
	color: #FFA826;
}
footer li a:disabled{
	color: #424242;
}
/*return-to-top START CSS*/

.back-to-top {
	font-size: 24px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: none;
	position: fixed;
	bottom: 30px;
	right: 20px;
	border-radius: 50%;
	background: #F57D00;
	z-index: 1000;
}

.back-to-top i {
	color: #fff;
}
.btn_wrap .button{
	font-weight: 600;
	font-size: 16px;
	min-height: 48px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);
}
.btn_wrap .button:hover{
  background-color: #F57D00;
  color:#212121;
}
.btn_wrap .button img,
.btn_wrap .button i{
	margin-right: 8px;
}
.button.white{
	background-color: #F5F5F5;
	border-color: #F5F5F5;
}
.button.white:hover{
	background-color: #EEEEEE;
	border-color: #EEEEEE;
	color: #424242;
}
.button.white:active{
	background-color: #E0E0E0;
	border-color: #E0E0E0;
	color: #424242;
}
.button.white:disabled{
	background-color: #F5F5F5;
	border-color: #F5F5F5;
	color: #9E9E9E;
}
.button.black{
	background-color: #424242;
	border-color: #424242;
	color: #FAFAFA;
}
.button.black:hover{
	background-color: #616161;
	border-color: #616161;
	color: #FAFAFA;
}
.button.black:active{
	background-color: #757575;
	border-color: #757575;
	color: #FAFAFA;
}
.button.black:disabled{
	background-color: #BDBDBD;
	border-color: #BDBDBD;
	color: #FAFAFA;
}
#sync1{
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
  margin-top: 25px;
  display: block;
}
#sync1 .fa-angle-left,
#sync1 .fa-angle-right {
  color: #FAFAFA;
}
#sync1 .owl-item img{
	max-height: 536px;
	object-fit: cover;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 992px) {
  #sync1 .owl-item img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
#sync1 .owl-item img{
	border-radius: 12px;
}
#sync2{
	padding: 16px 0;
}
#sync2 .owl-item img{
	border-radius: 8px;
	overflow: hidden;
	max-height: 128px;
	transition: 0.3s;
	border: 2px solid transparent;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#sync2 .owl-item.active a.currentitem img,
#sync2 .owl-item.active a.firstitem img{
	border-color: #FB8D00;
	object-fit: cover;
}
.owl-nav > div{
	background-color: transparent !important;
	padding: 0 !important;
	font-size: 60px !important;
	color: #FAFAFA !important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) !important;
}
.owl-nav > div.disabled{
	display: none;
}
.owl-nav > div.owl-next{
	right: 20px;
}
.owl-nav > div.owl-prev{
	left: 20px;
}






#sync1 .owl-dots:after {
    content: counter(slides-num);
    padding-left: 32px;
}
#sync1 .owl-dots {
	position: absolute;
	right: 24px;
	bottom: 24px;
	background-color: rgba(33, 33, 33, 0.8);
	color: #FAFAFA;
	font-weight: 600;
	border-radius: 12px;
	padding: 8px 16px 8px 48px;
}
#sync1 .owl-dots::before{
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	left: 18px;
	width: 20px;
	height: 20px;
	background-image: url(../img/img_icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#sync1 .owl-dot {
	display: block;
	counter-increment: slides-num;
	width: 0;
	height: 0;
	background-color: transparent;
	position: absolute;
	left: 48px;
	top: 50%;
	transform: translateY(-50%);
}
#sync1 .owl-dot.active:before {
	content: counter(slides-num) " /";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 0;
	top: -15px;
	color: inherit;
	font-weight: inherit;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.5px;
	color: #FAFAFA;
	white-space: nowrap;
}

.title{
	font-weight: 600;
	font-size: 32px;
	color: #212121;
}
.sub_title{
	font-weight: 400;
	font-size: 24px;
}
.md_title{
	font-weight: 600;
	font-size: 24px;
	color: #212121;
	margin-top: 25px;
}
.details_list{
	padding-top: 8px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 85px;
}
@media (max-width: 992px) {
  .details_list{
    grid-template-columns: auto;
  }
}
.details_list li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;
}
.details_list li>span{
	display: flex;
	align-items: center;
}
.details_list li .icon{
	width: 32px;
	flex-shrink: 0;
	margin-right: 16px;
	text-align: center;
}
.details_list li .icon img{
	max-width: 100%;
	height: auto;
}
.details_list li strong{
	font-weight: 600;
	color: #212121;
	margin-left: 5px;
}
.sm_title{
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	color: #212121;
	margin-top: 16px;
}
.check_list{
	padding-top: 8px;
}
.check_list li{
	position: relative;
	padding-left: 30px;
	font-weight: 400;
	font-size: 16px;
	color: #212121;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 13px;
	letter-spacing: 0.5px;
}
.check_list li::before{
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
	background-image: url(../img/icon15.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.toggle_btn {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	color: #F57D00;
	padding: 0;
	background-color: transparent;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.toggle_btn:hover {
  color:#FB8D00;
}
.toggle_btn:active {
  color:#FF9800;
}
.toggle_btn:disabled {
  color:#FFCD80;
}
.toggle_btn i{
	font-size: 140%;
	margin-left: 8px;
	line-height: 1;
	transition: 0.3s;
}
.toggle_btn::before{
	content: 'Expand';
}
.toggle_btn[aria-expanded="true"]::before{
	content: 'Collapse';
}
.toggle_btn[aria-expanded="true"] i{
	transform: rotate(180deg);
}
.sm_text{
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #212121;
	font-family: 'Source Sans Pro', sans-serif;
  line-height: 20px;
}
.owl-theme .owl-dots .owl-dot span {
  display: none;
}
.pricem2 {
  margin-top: 3px;
}

main {
  min-height: calc(100vh - 271px);
}

.roomall p {
  color: #212121;
}

.pricepm2, .pricet {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
