<main>
  <div class="container">
      <div class="row btn_wrap">
          <div class="col-sm-4">
              <a routerLink="/" class="button white mt_25">
                  <i class="fal fa-arrow-left"></i>
                  {{ 'Back to listing' | translate }}
              </a>
          </div>
          <div class="col-sm-8 text-right">
              <a class="button black mt_25 mr_20">
                  <img src="./assets/img/love2.svg" alt="">
                  {{ 'Add to favourites' | translate }}
              </a>
              <a href="{{this.offer?.ad?.url}}" class="button mt_25" target="_blank">
                  <img src="./assets/img/link.svg" alt="">
                  {{ 'Open offer' | translate }}
              </a>
          </div>
      </div>

      <owl-carousel-o id="sync1"  [options]="sync1" (changed)="getData($event, owlCar2)" #owlCar>
        <ng-container *ngFor="let photo of this.offer?.ad?.photos; let i= index">
          <ng-template carouselSlide [id]="'sl_'+i">
            <img src="{{photo}}" class="w-100" alt="">
          </ng-template>
        </ng-container>
      </owl-carousel-o>

      <owl-carousel-o id="sync2" [options]="sync2" #owlCar2>
        <ng-container *ngFor="let photo of this.offer?.ad?.photos; let i= index;">
          <ng-template carouselSlide [id]="'sl_'+i">
            <a (click)="getThumbsdata(owlCar, i, photo)"  [class.currentitem]="currentitem==photo" [ngClass]="{'currentitem': i === 0}">
              <img src="{{photo}}" class="w-100" alt="">
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <div class="row">
          <div class="col-lg-7 mt_10">
              <h2 class="title" *ngIf="this.offer?.ad.title">{{this.offer?.ad.title}}</h2>
              <p class="sub_title mt_10">{{this.offer?.location.community}}, {{this.offer?.location.country}}</p>
          </div>
          <div class="col-lg-5 text-sm-right mt_10">
              <h2 class="title" *ngIf="this.offer?.ad.price.price">{{this.offer?.ad.price.price}} {{this.offer?.ad.price.currency |uppercase}}</h2>
              <p class="sub_title pricem2" *ngIf="this.offer?.ad.price.price_per_m2">{{this.offer?.ad.price.price_per_m2}} {{this.offer?.ad.price.currency |uppercase}}{{ '/m²' | translate }}</p>
          </div>
      </div>
      <h4 class="md_title">{{ 'Offer details' | translate }}</h4>
      <div class="row">
          <div class="col-md-12">
              <ul class="details_list">
                  <li *ngIf="this.offer?.building.properties.area">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon1.svg" alt="">
                          </span>
                          {{ 'Space' | translate }}
                      </span>
                      <strong>{{this.offer?.building.properties.area}} m²</strong>
                  </li>
                  <li *ngIf="this.offer?.building.features.type">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon2.svg" alt="">
                          </span>
                          {{ 'Property' | translate }}
                      </span>
                      <strong>{{this.offer?.building.features.type}}</strong>
                  </li>
                  <li *ngIf="this.offer?.rooms">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon3.svg" alt="">
                          </span>
                          {{ 'Rooms' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.building.property_type">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon4.svg" alt="">
                          </span>
                          {{ 'Development' | translate }}
                      </span>
                      <strong>{{this.offer?.building.property_type}}</strong>
                  </li>
                  <li *ngIf="this.offer?.floor">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon5.svg" alt="">
                          </span>
                          {{ 'Floor' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.yearb">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon6.svg" alt="">
                          </span>
                          {{ 'Year built' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.date">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon7.svg" alt="">
                          </span>
                          {{ 'Date' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>

                  <li *ngIf="this.offer?.seller">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon8.svg" alt="">
                          </span>
                          {{ 'Seller' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.rent">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon9.svg" alt="">
                          </span>
                          {{ 'Rent' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.form">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon10.svg" alt="">
                          </span>
                          {{ 'Form of ownership' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.ad.status">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon11.svg" alt="">
                          </span>
                          {{ 'State' | translate }}
                      </span>
                      <strong>{{this.offer?.ad.status}}</strong>
                  </li>
                  <li *ngIf="this.offer?.parking">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon12.svg" alt="">
                          </span>
                          {{ 'Parking' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.heating">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon13.svg" alt="">
                          </span>
                          {{ 'Heating' | translate }}
                      </span>
                      <strong>..</strong>
                  </li>
                  <li *ngIf="this.offer?.buildblock">
                      <span>
                          <span class="icon">
                              <img src="./assets/img/icon14.svg" alt="">
                          </span>
                          {{ 'Building block' | translate }}
                      </span>
                      <strong class="gray">..</strong>
                  </li>
              </ul>
          </div>
      </div>
      <h4 class="md_title">{{ 'Additional informations' | translate }}</h4>
      <div class="row form-row">
          <div class="col-md-3 col-6" *ngIf="this.offer?.media">
              <h5 class="sm_title">{{ 'Media' | translate }}</h5>
              <ul class="check_list">
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
              </ul>
          </div>
          <div class="col-md-3 col-6" *ngIf="this.offer?.addspaces">
              <h5 class="sm_title">{{ 'Additional space' | translate }}</h5>
              <ul class="check_list">
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
              </ul>
          </div>
          <div class="col-md-3 col-6" *ngIf="this.offer?.fitting">
              <h5 class="sm_title">{{ 'Fitting' | translate }}</h5>
              <ul class="check_list">
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
              </ul>
          </div>
          <div class="col-md-3 col-6" *ngIf="this.offer?.security">
              <h5 class="sm_title">{{ 'Security' | translate }}</h5>
              <ul class="check_list">
                  <li>..</li>
                  <li>..</li>
                  <li>..</li>
              </ul>
          </div>
      </div>
      <h4 class="md_title pb_15" *ngIf="this.offer?.ad.description">{{ 'Description' | translate }}</h4>
      <p class="sm_text"  *ngIf="this.offer?.ad.description">
        <span class="descuttext">
          {{this.offer?.ad.description  | slice:0:300}} ...
        </span>
        <span *ngIf="ariaex">{{this.offer?.ad.description}}</span></p>
      <div class="text-center mt_10 pb_10"  *ngIf="this.offer?.ad.description">
          <button class="toggle_btn singledescbtn" type="button" attr.aria-expanded="{{ ariaex }}" (click)="showmoredes()"><i class="fal fa-angle-down"></i></button>
      </div>
  </div>
</main>
