/***
    css for multi select drop down
**/
.dropdwrap {
  position: relative;
}
.drop-toggle{
  padding: 0px 16px;
    width: 100%;
    float: none;
    background: #F5F5F5;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%);
    border-radius: 8px;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #424242;
    line-height: 46px;
    margin-top: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}
.drop-toggle:hover{
background-color: #EEEEEE;
}
.drop-toggle.inpact{
  background-color: #E0E0E0;
}
.drop-toggle.disabled{
  background-color: #F5F5F5;
  color: #9E9E9E;
}
.drop-toggle i {
  float:right;
  margin-top: 15px;
}
.drop-toggle i.fa-angle-up {
  display: none;
}
.drop-toggle.inpact i.fa-angle-up{
  display: block;
}
.drop-toggle.inpact i.fa-angle-down{
  display: none;
}
.drop-show {
  background-color: #F5F5F5;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  top: 68px;
}
.drop-show label{
  display:block;
  font-size:15px;
  cursor: pointer;
}
.drop-show label input{
  vertical-align: top;
  width: auto;
  display: none;
}
.drop-show label span{
  display:inline-block;
}
.drop-show-row {
  width: 100%;
  column-gap: 11px;
  background-color: #F5F5F5;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.drop-show-row.cactive {
  background-color: #E0E0E0;
}
.drop-show-row:hover {
  background-color: #EEEEEE;
}
.drop-show-row.active {
  background-color: #E0E0E0;
}
.drop-show-row.cactive.isall {
  background-color: #F5F5F5;
  color: #9E9E9E;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.drop-show-row.cactive.isall .drop-show-row-icon {
  width: 0;
}
.drop-show-row .drop-show-row-text {
  font-size: 14px;
}
.drop-show-row-icon {
  width: 0;
  max-width: 16px;
  float: left;
  transition: 0.1s;
  margin-right: 11px;
}
.drop-show-row-icon svg {
  margin-top: -9px;
  opacity: 0;
}
.drop-show-row.cactive .drop-show-row-icon {
  width: 16px;
  transition: 0.1s;
}
.drop-show-row.cactive .drop-show-row-icon svg {
  opacity: 1;
}
