<!-- Preloader Start -->
<div id="preloader" *ngIf="!loaded">
  <div class="loader3">
    <span></span>
    <span></span>
  </div>
</div>
<!-- Preloader End -->
<main>
  <div class="container">
      <!-- banner -->
      <img src="./assets/img/banner.png" class="w-100 banner" alt="">
      <!-- filter area -->
      <form action="#" class="filter_box">
          <div class="row">
              <div class="col-md-3">
                  <ng-container *ngFor="let field of this.fields;">
                    <ng-container *ngIf="field?.name=='property_type'">
                      <h4>{{ 'Property' | translate }}</h4>
                      <app-multi-select-dropdown
                        [list]="property_type"
                        [listname]="'properties'"
                        (shareCheckedList)="propertylist($event)">
                      </app-multi-select-dropdown>
                    </ng-container>
                  </ng-container>
              </div>
              <div class="col-md-6">
                  <h4>{{ 'Location' | translate }}</h4>
                  <div class="input_wrap">
                      <img src="./assets/img/map-pin.svg" alt="">
                      <input type="text" placeholder="Choose from list or write location name " [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
                      <span>{{ '+0km' | translate }}</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <ng-container *ngFor="let field of this.fields;">
                    <ng-container *ngIf="field?.name=='market'">
                      <h4>{{ 'Market type' | translate }}</h4>
                      <app-multi-select-dropdown
                        [list]="market_select"
                        [listname]="'markets'"
                        (shareCheckedList)="marketlist($event)">
                      </app-multi-select-dropdown>
                    </ng-container>
                  </ng-container>
              </div>
              <div class="col-md-9">
                  <div class="row">
                      <div class="col-md-6">
                        <ng-container *ngFor="let field of this.fields;">
                          <ng-container *ngIf="field?.name=='price'">
                            <h4>{{ 'Price' | translate }}</h4>
                            <div class="row half_gutters">
                                <div class="col-6">
                                    <input type="number" placeholder="From" [(ngModel)]="price_from" [ngModelOptions]="{standalone: true}" step=".01" min="0" >
                                </div>
                                <div class="col-6">
                                    <input type="number" placeholder="To" [(ngModel)]="price_to" [ngModelOptions]="{standalone: true}" step=".01" min="0" >
                                </div>
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                      <div class="col-md-6">
                        <ng-container *ngFor="let field of this.fields;">
                          <ng-container *ngIf="field?.name=='area'">
                            <h4>{{ 'Area' | translate }}</h4>
                            <div class="row half_gutters">
                                <div class="col-6">
                                    <input type="number" placeholder="From" [(ngModel)]="area_from" [ngModelOptions]="{standalone: true}" step=".01" min="0" >
                                </div>
                                <div class="col-6">
                                    <input type="number" placeholder="To" [(ngModel)]="area_to" [ngModelOptions]="{standalone: true}" step=".01" min="0" >
                                </div>
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                <ng-container *ngFor="let field of this.fields;">
                  <ng-container *ngIf="field?.name=='status'">
                    <h4>{{ 'Offer type' | translate }}</h4>
                    <app-multi-select-dropdown
                        [list]="offertype_select"
                        [listname]="'offers'"
                        (shareCheckedList)="offer_typelist($event)" >
                      </app-multi-select-dropdown>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col-md-4 col-sm-5 mt_32">
                  <button type="button" class="save_search button"><img src="./assets/img/bell.svg" alt="">{{ 'Save searching' | translate }}</button>
              </div>
              <div class="col-md-5 col-sm-7 d-flex align-items-center justify-content-end mt_32">
                  <button class="reset" type="reset" (click)="ClearFilters()">{{ 'Clear filters' | translate }}</button>
                  <select nice-select class="mt-0 more_filter" disabled>
                      <option>More filters</option>
                  </select>
              </div>
              <div class="col-md-3 mt_32">
                  <button type="submit" class="button" (click)="Search_offers()"><img src="./assets/img/search.svg" alt="">{{ 'Search offers' | translate }}</button>
              </div>
          </div>
      </form>
      <div class="d-flex align-items-center justify-content-between filter_wrap">
          <h4>{{ 'Number of offers:' | translate }} <span>{{offers?.length}}</span></h4>
          <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <img src="./assets/img/filter.svg" alt="">
                  {{this.sortby}}
              </button>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item"  (click)="Timeorder()">{{ 'Time' | translate }}</a></li>
                  <li><a class="dropdown-item" (click)="Pricingorder()">{{ 'Pricing' | translate }}</a></li>
              </ul>
          </div>
      </div>

      <ng-container *ngFor="let offer of this.offers;">
        <div class="room_box">
            <a routerLink="/offer/{{offer?.link_id}}" class="room_img">
                <img *ngIf="offer?.photos" src="{{offer?.photos[0]}}" alt="">
            </a>
            <div class="room_content position-relative">
                <a *ngIf="offer?.title" routerLink="/offer/{{offer?.link_id}}">
                    <h2 class="pr_30">
                      <ng-container *ngIf="offer?.title.length>30">
                        {{offer?.title | slice:0:30}}..
                      </ng-container>
                      <ng-container *ngIf="offer?.title.length<30">
                        {{offer?.title}}
                      </ng-container>
                    </h2>
                </a>
                <a routerLink="/offer/{{offer?.link_id}}" class="roomall">
                  <p class="mt_5" ><ng-container *ngIf="!offer?.subtitle">No information</ng-container>
                  </p>
                  <div class="row pt_10">
                      <div class="col-6">
                          <ul>
                              <li><img src="./assets/img/icon1.svg" alt=""><ng-container *ngIf="!offer?.area">No information</ng-container> {{offer?.area}} {{ 'm²' | translate }}</li>
                              <li><img src="./assets/img/icon2.svg" alt=""><ng-container *ngIf="!offer?.property_type">No information</ng-container> <ng-container *ngIf="offer?.property_type">{{offer?.property_type}}</ng-container></li>
                          </ul>
                      </div>
                      <div class="col-6">
                          <ul>
                              <li><img src="./assets/img/icon3.svg" alt=""> <ng-container *ngIf="!offer?.room_number">No information</ng-container> <ng-container *ngIf="offer?.room_number">{{offer?.room_number}} {{ 'rooms' | translate }}</ng-container></li>
                              <li><img src="./assets/img/icon4.svg" alt=""> <ng-container *ngIf="!offer?.building">No information</ng-container> <ng-container *ngIf="offer?.building">{{offer?.building}} </ng-container></li>
                          </ul>
                      </div>
                  </div>
                  <div class="row align-items-end">
                      <div class="col-6 mt_10">
                          <p><strong><ng-container *ngIf="!offer?.pseller">No information</ng-container> <ng-container *ngIf="offer?.pseller">{{ 'Private seller' | translate }}</ng-container></strong></p>
                      </div>
                      <div class="col-6 text-right mt_10">
                          <p class="pricepm2"><ng-container *ngIf="!offer?.price_per_m2">No information</ng-container>{{offer?.price_per_m2}} {{ 'PLN/m²' | translate }}</p>
                          <h2 class="pricet"><ng-container *ngIf="!offer?.price">No info</ng-container>{{offer?.price}} {{ 'PLN' | translate }}</h2>
                      </div>
                  </div>
                </a>
                <div class="heart">
                    <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.2133 1.32002C20.6933 -1.07998 16.3466 0.0400178 14 2.78668C11.6533 0.0400178 7.30663 -1.09332 3.78663 1.32002C1.91996 2.60002 0.746625 4.76002 0.666625 7.04002C0.479959 12.2134 5.06663 16.36 12.0666 22.72L12.2 22.84C13.2133 23.76 14.7733 23.76 15.7866 22.8267L15.9333 22.6933C22.9333 16.3467 27.5066 12.2 27.3333 7.02668C27.2533 4.76002 26.08 2.60002 24.2133 1.32002ZM14.1333 20.7333L14 20.8667L13.8666 20.7333C7.51996 14.9867 3.33329 11.1867 3.33329 7.33335C3.33329 4.66668 5.33329 2.66668 7.99996 2.66668C10.0533 2.66668 12.0533 3.98668 12.76 5.81335H15.2533C15.9466 3.98668 17.9466 2.66668 20 2.66668C22.6666 2.66668 24.6666 4.66668 24.6666 7.33335C24.6666 11.1867 20.48 14.9867 14.1333 20.7333Z" fill="#212121"/>
                    </svg>
                </div>
            </div>
        </div>
      </ng-container>

      <div class="pagination" *ngIf="this.offers">
        <a href="#" (click)="Pagprev()">prev</a>
        <a href="#" (click)="Pagnext()">next</a>
      </div>

  </div>
</main>
